* text=auto eol=lf
# Preserve exact upstream license bytes, including mixed line endings/spacing.
LICENSE -text
licenses/*.txt -text whitespace=-blank-at-eol,-blank-at-eof
frontend/public/legal/THIRD_PARTY_NOTICES.txt -text whitespace=-blank-at-eol,-blank-at-eof linguist-generated=true
